.title {
    margin-top: 15px;
    margin-left: 30px;
}

.smallBtn {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    margin-left: 30px;
}