// @import '~taro-ui/dist/style/components/drawer.scss';
// @import '~taro-ui/dist/style/components/list.scss';
// @import '~taro-ui/dist/style/index.scss';

content {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 30px;
}

.line {
    background-color: blue;
    width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    margin-left: 15px;
}

.drawer-item {
    // border: 2px solid red;
    border-radius: 4px;
    border-style: solid; 
    border-width: 2px;
    border-color: blueviolet;
}